.biometrics-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  }
  
  .biometrics-intro-container {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  }
  .biometrics-intro-container p {
    margin-top: 1rem;
  }
  
  .get-started-btn {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .get-started-btn:hover {
    background-color: var(--hover-blue);
  }

  /* Full-screen overlay with blur effect */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent overlay */
    backdrop-filter: blur(5px); /* Blurs everything behind the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it sits above everything */
}

/* Modal Box */
.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 70vw; /* Adjust width as needed */
    height: 80vh;
    text-align: center;
}

/* Style inputs */
.modal-content input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* Buttons */
.first-biometric-pop-up-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:first-of-type {
    border: 1px solid var(--blue);
    background-color: white;
    color: var(--blue);
}

.modal-content button:last-of-type {
    background-color: var(--blue);
    color: white;
    margin-left: 10px;
}
.modal-content button:last-of-type:hover {
    background-color: var(--hover-blue);
}
.biometric-form-header-div {
    margin-bottom: 1rem;
}
.biometric-form-divs {
    border-bottom: 2px solid var(--grey);
    gap: .2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}


/* this is the body fat percentage pop up form */
.body-fat-image-section {

}


.body-fat-image-section h1 {
  padding-top: 1rem;
  margin-bottom: 1rem;
}


.body-images {
  width: 50vw;
  height: 60vh;
}

.input-div-body-fat {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.second-biometric-pop-up-btn {

padding: 10px 15px;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
}