.history-main-section {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-main-title-div {
    padding-top: 7rem;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bar-graph-main-container {
    border: 1px solid var(--grey);
    height: 70vh;
    width: 70vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.line-chart-total-volume-biggest-container {
    border: 2px solid var(--grey);
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.week-view-month-line-graph-select-div {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    margin-left: 8rem;
}
.time-scale-select {
    border: 1px solid var(--blue);
    width: 20%;
}



.line-chart-main-container {
    height: 80%;
    width: 100%;
}   

