.history-main-section {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-main-title-div {
    padding-top: 5rem;
    width: 18rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.total-volume-mg-div {
    width: auto;
    box-sizing: border-box;
}
.bar-graph-main-container {
    width: 18rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.line-chart-total-volume-biggest-container {
    width: 18rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.week-view-month-line-graph-select-div {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    
}
.time-scale-select {
    border: 1px solid var(--grey);
    width: 15%;
    margin-bottom: .5rem;
}



.line-chart-main-container {
    height: 80%;
    width: 100%;
}   


@media (min-width: 700px) {
    .history-main-title-div {
        width: 25rem;
    }

    .bar-graph-main-container {
        width: 30rem;
    }
    .line-chart-total-volume-biggest-container {
        width: 30rem;
    }

}

@media (max-width: 500px) {
    .history-main-title-div {
        padding-top: 4rem;
    }
}

@media (max-width: 700px) {
    .line-chart-total-volume-biggest-container {
        margin-bottom: 7rem;
        padding-bottom: 3rem;
    }
}
