
.empty-workout-section {
    height: 40vh;
    margin: 0 auto;
    width: 80%;
}
.empty-workout-header-div {
    margin: 5rem 0 2rem 0;
    text-align: center;
}

.add-new-exercise-card {
    
    width: 5rem;
    border: 2px solid var(--grey);
    margin: 0 auto;
    padding-left: 5px;
}
.add-new-exercise-card:hover {
    cursor: pointer;
    border: 2px solid var(--hover-blue);
    color: var(--hover-blue);
}